body
{
    background-color: var(--laranja);
}

.home
{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/PET-HOME-2.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home .titulo
{
    color: var(--branco);
    text-align: center;
    font-size: 4em;
    margin-top: 3.5em;
}